<div class="col-md-6 col-md-offset-3">
	<h1>Grail War / Cut-Throat <button class="btn btn-success pull-right" ng-click="createGame()">Create Game</button></h1>
	<p>So this is a new idea I had for the demo involving a simple game I'm hoping to make.  The chat piece and maintaining game state reactively will be the focus.</p>
	<p>It's basically a Diplomacy style game that has some twists.  The goal of the game is to get the Grail from the center of the map back to your Home.</p>
	<p>The idea is that since the game relies heavily on espionage and communication, it will be heavily reliant on an embedded chat system which allows for broadcast, direct message, and multiple channels for alliances.</p>
	<p>Most importantly, we must allow as many opportunities for trickery in communication as possible.  So channels are created ad-hoc, but can be shared and viewed without the other members of the channel knowing!<p>

	<p>Here are goals / rules as I see them currently:</p>
	<ul>
		<li>Game support for 3/4 - 6/7/8 players (undecided).<li>
		<li>Everyone starts at a point on the outside of the map which is their Home.</li>
		<li>Everyone starts with 4 Units (minions), all in their Home (or within 1 space to their home).</li>
		<li>Units are created every 2 turns(?), 1 new unit per Supply area.</li>
		<li>
			Each turn players decide what to do with each of their units. They can:
			<ul>
				<li>Move - Move anywhere amongst your conquered Territory, or to 1 adjacent unconquered Territory.</li>
				<li>Attack - Moving to enemy territory initiates an Attack.  Score up Attack vs Defense points (Units + Support for each side, connected Home yields 1 support).  Tie goes to Defender.</li>
				<li>Support - Support any adjacent Territory under attack.</li>
				<li>Defend - Default action when Unit does not take an action.</li>
			</ul>
		</li>
		<li>Unit actions are placed secretly after much deliberation and shown all at once.  Action occurs simultaneously.<li>
		<li>When a Unit moves out of a Territory, they abandon it.</li>
		<li>When 2 competing Units move to the same unconqured Territory in the same turn a Showdown occurs.  Each player must decide if their Unit(s) will Attack or Retreat.  If both Attack, normal attack rules occur and any adjacent Players are able to lend support (assuming their Unit did not move, but a tie requires both parties to stand down and retreat.</li>
		<li>When more than 2 competing Units move to the Attack the same unconquered territory, or 2 competing Units move to Attack the same occupied territory, a Battle occurs.</li>
		<li>Battles involve multiple rounds of side taking.  First, each player must decide who their allies and enemies and request any outside support.  When everyone has chosen who their enemies and allies are and support has be given or withheld, the battle is joined and numbers get crunched.  Your enemy numbers are compared against your friend numbers, giving you a battle score.  Top score wins the space, tying scores enter a second round of Battle which repeats.  If 2 players tie, a Showdown occurs (see above).</li>
		<li>The Goal is to Claim the Grail at the center of the board, and return it to your Home.</li>
		<li>Claiming the Grail involves taking ownership of the Territory containing it and Declaring yourself, and anyone else, as the owner.</li>
		<li>The Grail cannot move for 1 turn after being claimed (it's a whole ceremony)</li>
		<li>Once Claimed, the Grail must make it to the Home of one of the Owners, making them the Winner(s)</li>
		<li>Losing the Territory with the Grail hands it to the winner, who must Claim it in order to move it.</li>
		<li>Claimants may abandon the Grail, wait a turn, then Reclaim it in order to backstab their allies.  They may also attack their ally who is carrying the Grail, or lend support to other opponents in a bid to Reclaim with another ally.</li>
		<li>Points are awarded, split between Winners and stored in perpetuity for the record books.</li>
		<li>In multi-game setups (first to 100, best of 3/5/7), points carry to the following game(s).</li>
	</ul>
</div>