<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<title>TapChat - IRC via NFC | Powered by Thinaire</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<style>
			.strike { text-decoration: line-through; }
			.fctrl-tall { height: 100px; }
			.txt-lg { font-size: 20px; }
		</style>
	</head>
	<body ng-controller="AppController">
		<div class="container-fluid">
			<div ng-if="!rname">
				<div ng-controller="AdminController">
					<h2>Tapchat Channel Admin</h2>
					<div class="col-xs-3">
						<ul class="list-unstyled list-group">
							<li ng-repeat="r in rooms.collection"><a class="list-group-item" ng-class="{ 'list-group-item-info': r.active }" href="#" ng-click="toggleRoom(r)">{{ r.name }}</a></li>
						</ul>
						<button ng-click="createRoom()">Create Room</button>
					</div>
					<div class="col-xs-9">
						<div class="row">
							<div class="panel panel-default {{ colSize }}" >
								<div class="panel-heading">
									Chat <strong>@{{ chname }}</strong>
									<ul class="list-unstyled list-inline inline">
										<li ng-repeat="r in rooms.collection | filter:{ 'active': true }"><a target="_blank" ng-href="/{{ chname }}/{{ r.url }}">#{{ r.url }}</a></li>
									</ul>
								</div>
								<div class="panel-body">
									<ul class="list-group">
										<li class="list-group-item" ng-repeat="msg in messages.collection | activeMessages | orderBy:'created_at'" ng-class="{ 'list-group-item-warning': msg.room==room }">
											<strong ng-class="{ 'text-success': msg.user._id==user._id }">{{ msg.user.name }}:</strong> {{ msg.text }}<br />
											<small>at {{ msg.created_at | date:'yyyy-MM-dd hh:ss' }}</small>
										</li>
									</ul>
									<form class="form-horizontal">
										<div class="form-group">
											<div class="col-md-10">
												<input class="form-control fctrl-tall txt-lg" ng-model="text.msg" placeholder="Enter a message" /><br />
												<input id="msgAuthor" class="form-control" ng-model="user.name" readonly="readonly" placeholder="Enter your name" />
											</div>
											<div class="col-md-2">
												<div class="row form-inline">
													<select id="msgRoom" class="form-control" ng-model="room" ng-options="room.url as room.name for room in rooms.collection | filter:{ active: true}" >
														<option value="">Select Room</option>
													</select>
												</div><br />
												<div class="row">
													<button type="button" class='btn btn-lg' ng-click="createMessage(text,room,chname)">Send Message</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-if="!!rname">
				<div ng-controller="ClientController">
					<div class="page-header">
						<h1>TapChat - IRC via NFC <small>| Powered by Thinaire</small></h1>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							Chat <strong>@{{ chname }}</strong> <strong>#{{ rname }}</strong>
						</div>
						<div class="panel-body">
							<ul class="list-unstyled">
								<li ng-repeat="msg in messages.collection | orderBy:'created_at'">
									<strong ng-class="{ 'text-success': msg.user._id==user._id }">{{ msg.user.name }}:</strong> {{ msg.text }}<br />
									<small>at {{ msg.created_at | date:'yyyy-MM-dd hh:ss' }}</small>
								</li>
							</ul>
							<form class="form-horizontal">
								<div class="form-group">
									<div class="col-md-10">
										<input class="form-control fctrl-tall txt-lg" ng-model="text.msg" placeholder="Enter a message" /><br />
									</div>
									<div class="col-md-2">
										<div class="row text-center">
											<button type="button" class='btn btn-lg' ng-click="createMessage(text,rname,chname)">Send Message</button>
										</div><br />
										<div class="row form-inline">
											<input id="msgAuthor" class="form-control" ng-model="user.name" placeholder="Enter your name" />
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- <ng-include src="view" /> -->
		</div>

		<!-- <iframe mframe src="http://localhost:3000"></iframe> -->
		<mframe src="http://tapchat.meteor.com/"></mframe>

		<script type="text/javascript" src="/js/angular.min.js"></script>
		<script type="text/javascript" src="/js/angular-route.min.js"></script>
		<script type="text/javascript" src="/js/angular-mframe.js"></script>
		<script type="text/javascript" src="/js/app-services.js"></script>
		<script type="text/javascript" src="/js/app.js"></script>
		<script type="text/javascript">
			angular.bootstrap(document, [ 'tapchat.app' ]);
		</script>
	</body>
</html>